# {{ ansible_managed }}

# TODO auth

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

storage:
  dbPath: {{ mongod_datadir }}
  journal:
    enabled: true

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: {{ mongod_net_port }}
  bindIp: {{ mongod_net_bindip }}

replication:
  replSetName: {{ monogd_repl_set_name }}
  oplogSizeMB: {{ mongod_replication_oplogsize | int }}

cloud:
  monitoring:
    free:
      state: disabled
